html {
    height: 100%;
}
body {
    background: #173529;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 93px;
    position: relative;
    box-sizing: border-box;
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: #2be6a4;
    text-decoration: none;
}
a:hover {
    color: #4ff9bd;
}

.top {
    background: url(img/top_bg.png);
    width: 100%;
    height: 93px;
    color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
}
.top a {
    color: #308dbf;
}
.top-content {
    padding-top: 20px;
}
.top .logo {
    float: left;
    width: 200px;
    height: 48px;
    margin-top: 2px;
}


.top .boxes {
    float:right;
}

.top_box {
    float: left;
    border-left: 1px solid #d9d9d9;
    padding-left: 20px;
    padding-right: 20px;
    height: 53px;
}
.top_box:first-child {
    border: none;
}
.top_box .label {
    color: #7a7a7a;
    font-size: 11px;
    font-weight: bold;
}
.top_box .value {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    max-width: 165px;
    word-wrap: break-word;
}
.boxes .box_status .value {
    text-transform: uppercase;
}
.top_box .start-button {
    display: block;
    float: left;
    background: #08b425;
    border-radius: 5px;
    color: #fff;
    padding: 9px 18px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}
.top_box .start-button:hover {
    background: #068f1d;
}
.top_box .stop-button {
    display: block;
    float: left;
    background: #d81212;
    border-radius: 5px;
    color: #fff;
    padding: 9px 18px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}
.top_box .stop-button:hover {
    background: #a50303;
}
.top_box .restart-button {
    display: block;
    float: left;
    background: #6495ED;
    border-radius: 5px;
    color: #fff;
    padding: 9px 18px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}
.top_box .restart-button:hover {
    background: rgb(65, 107, 187);
}
.top_box .exit-button {
    display: block;
    float: left;
    background: #DAA520;
    border-radius: 5px;
    color: #fff;
    padding: 9px 18px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}
.top_box .exit-button:hover {
    background: rgb(196, 141, 3);
}
.top_box .message-text {
    display: block;
    float: left;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(255, 0, 0);
    padding: 9px 18px;
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}

.container {
    max-width: 1800px;
    min-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.main {
    position: relative;
}

.stats_label {
    cursor: pointer;
}

.status table {
    width: 100%;
    border-radius: 3px;
    border: 2px solid #11251c;
    border-spacing: 0;
}
.status thead {
    background: #11251c;
    padding: 0;
    margin: 0;
    color: #a9c5ba;
}
.status table thead tr:hover {
    background: none;
}
.status table tr:hover {
    background: #1d4434;
}
.status td, .status th {
    padding: 10px;
    margin: 0;
    text-align: left;
}
.status td:first-child, .status th:first-child {
    padding-left: 16px;
}
.status td:last-child, .status th:last-child {
    padding-right: 16px;
}
.status td.numeric,
.status th.numeric {
    text-align: right;
}
.status tr.dark {
    background:#153126;
}
.status th {
    font-weight: bold;
}
.status th.error_count {
    width: 70px;
}
.status tr.total {
    background: #11251c;
}
.status tr.total td {
    font-weight: bold;
}
.status td {
    max-width: 250px;
    overflow: hidden;
    white-space: no-wrap;
    text-overflow: ellipsis;
}
@media (max-width: 1100px) {
    .status td {
        max-width: 350px;
    }
}

#stats {
    table-layout: fixed;
}

#stats td {
    word-wrap: break-word;
}

#server_charts {
    width: 100%;
}
#server_charts .chart {
    height: 350px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #11271e;
    border-radius: 3px;
}
#server_charts .note {
    color: #b3c3bc;
    margin-bottom: 30px;
    border-radius: 3px;
    background: #132b21;
    padding: 10px;
    display: inline-block;
}

#process_charts {
    width: 100%;
}
#process_charts .chart {
    height: 350px;
    margin-bottom: 30px;
    box-sizing: border-box;
    border: 1px solid #11271e;
    border-radius: 3px;
}
#process_charts .note {
    color: #b3c3bc;
    margin-bottom: 30px;
    border-radius: 3px;
    background: #132b21;
    padding: 10px;
    display: inline-block;
}

em {
    width: 100%;
    color: white;
    display: block;
    margin-left: 180px;
    font-size: 20px;
    font-family: Palatino, Times New Roman, serif;
}

nav.menu {
    background: #132b21;
}
ul.tabs {
    overflow: hidden
}
ul.tabs li {
    display: block;
    float: left;
    font-size: 16px;
}
ul.tabs li a {
    padding: 14px 10px;
    display: inline-block;
    color: #b3c3bc;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}
ul.tabs li a:hover {
    background: #10211a;
}
ul.tabs li a.current {
    color: #fff;
}
ul.tabs li a.current:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 3px;
    background: #fff;
}

.panes {
    margin-top: 10px;
}
.panes > div {
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 12px 0;
    background: #132b21;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    height: 40px;
}

.footer a {
    margin-right: 10px;
    color: #48a584;
}

.img-config {
    display: none;
}

.title-text {
    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
}

.title-label {
    line-height: 22px;
}

.search-button{
    background-color:rgb(10, 170, 175);
    display: block;
    float: left;
    border-radius: 5px;
    color: #fff;
    padding: 3px 9px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
}
.search-button:hover {
    background-color: rgb(12, 137, 141);
}